<!DOCTYPE html>

<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      TLMA
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light nav-top">
      <a class="navbar-brand" data-toggle="tooltip" title="{{'nav_home' | trans}}" href="{{ path('home') }}">
          <h1 class="platform-title">TLMA</h1>
          La Terre et les Lettres au Moyen Âges
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">{{'nav_home' | trans}}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              NAMA
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{path('nama')}}">{{'nav_nama_project_introduction' | trans}}</a>
              <a class="dropdown-item" href="{{path('nama-graph')}}">{{'nav_nama_view_graph' | trans}}</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('partners')}}">{{'nav_partners' | trans}}</a>
          </li>
        </ul>
    </div>
  </nav>
  <div class="container-fluid">


    {% block body %}{% endblock %}
    <div class="nav-bottom">

      <a href=" http://univ-grenoble-alpes.fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="Université Grenoble Alpes" src="{{ asset('logos/logo_univ_grenoble_alpes.jpg') }}"/>
      </a>
      <a href="http://www.cnrs.fr" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="CNRS Centre national de la recherche scientifique" src="{{ asset('logos/logo_cnrs.jpg') }}"/>
      </a>
      <a target="_blank" href="http://litt-arts.univ-grenoble-alpes.fr/litt-arts-arts-et-pratiques-du-texte-de-l-image-de-l-ecran-et-de-la-scene-62796.kjsp">
        <img class="logo-bottom" data-toggle="tooltip" title="Litt&Arts (UMR 5316) - Arts et pratiques du texte, de l'image, de l'écran et de la scène" src="{{ asset('logos/logo_littarts.png') }}"/>
      </a>
      <a href="https://demarreshs.hypotheses.org/" target="_blank">
        <img class="logo-bottom" data-toggle="tooltip" title="DémarreSHS!" src="{{ asset('logos/logo_demarre_shs.jpg') }}"/>
      </a>

    </div>
  </div>

  {% block javascripts %}
    <!-- this one is mandatory for encore.createSharedEntry(...) see https://symfony.com/doc/current/frontend/encore/shared-entry.html -->
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
  {% endblock %}
</body>
</html>
