

@import '~bootstrap/scss/bootstrap';

// allow the use of {font-family: 'Font Awesome 5 Free'; content: "\f0a9";}
$fa-font-path : '~@fortawesome/fontawesome-free-webfonts/webfonts';
@import '~@fortawesome/fontawesome-free-webfonts/scss/fa-solid';
@import "~cytoscape-panzoom/cytoscape.js-panzoom.css";
@import "~jquery-typeahead/src/jquery.typeahead";


//$fa-font-path : '~@fortawesome/fontawesome-free-webfonts/webfonts';

/* BOOTSTRAP OVERRIDE
--------------------------- */
body {
  background-color: #f0f0f0;
  color: #857663 !important;
  font-family: 'Open Sans', sans-serif;
}

body > .container-fluid{
  margin:0 !important;
  padding:0 !important;
}


.btn-link {
  color: #918E7D !important;
  &:hover {
    color: #857663 !important;
  }
}

.nav-link {
  color: #918E7D !important;
  &:hover {
    color: #857663 !important;
  }
}

a {
  color: #918E7D !important;
  &:hover {
    color: #857663 !important;
  }
}

.navbar-brand {
  padding: 10px;
  border-right: 1px solid #bbb;
  color: #918E7D !important;
}

.nav-top {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-bottom {
  display: flex;
  align-items: center;
  padding: 60px;
  background-color: #85766380;
  justify-content: space-evenly;
}

.logo-bottom {
  width: 70px;
  height: 70px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */


/* Declare heights because of positioning of img element */
.carousel-item {
  min-height: 22rem;
}

.carousel-text-container {
  min-height: 22rem;
  color: #857663;
  background-color: rgba(133, 118, 99, 0.6);
  width: 20%;
  text-align: center;
  h1 {
    font-weight: lighter;
    color: #fefefe;
  }
}

#home.carousel-item {
  background-image: url(../img/home_illustration.jpg);
}

#nama.carousel-item {
  background-image: url(../img/nama_illustration.jpg);
}

#partners.carousel-item {
  background-image: url(../img/partners_illustration.jpg);
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 110%;
    line-height: 1.4;
  }
}

/* COMMON
----------------- */
.page-content-container {
    margin: 4rem;
}

/* NAMA
------------------ */

#cy {
  width: 100%;
  height: 800px;
  border-right: 1px solid #eee;
}


.dfsm-entry{
  margin-bottom: 15px;
}

/* PARTNERS
------------------ */

.partner {
  margin-bottom: 15px;
}
