
{% extends "base.html.twig" %}

{% block body %}


<div class="page-content-container">
  <h4>Nommer les Arbres au Moyen Âge - Créer</h4>
  <hr/>
  {{ form_start(form) }}
  {{ form_row(form.label) }}
  {{ form_row(form.language) }}
  {{ form_row(form.sources) }}
  {{ form_row(form.save) }}


</div>
{% endblock %}
