{% extends "base.html.twig" %}

{% block body %}
  <div class="page-content-container">
    <h4>Nommer les Arbres au Moyen Âge - Le graph</h4>
    <hr/>
    <div class="card">
      <div class="card-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="action-bar">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="hide-latin">
                  <label class="form-check-label" for="hide-latin">
                    {{'nama_graph_hide_latin' | trans}}
                  </label>
                </div>
              </li>
              <li class="nav-item">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="hide-synonyms" value="option2">
                  <label class="form-check-label" for="hide-synonyms">{{'nama_graph_hide_synonyms' | trans}}</label>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item float-right">
                <div class="typeahead__container">
                  <div class="typeahead__field">
                    <span class="typeahead__query">
                      <input class="js-typeahead" name="search[query]" placeholder="{{'nama_graph_search_placeholder' | trans}}" autocomplete="off" type="search">
                    </span>
                    <span class="typeahead__button">
                      <button type="button">
                        <i class="typeahead__search-icon"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-9">
            <div id="cy"></div>
          </div>
          <div class="col-3 details-container">
            <div class="details-content" style="display:none;">

            </div>
            <div class="details-content-none">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Aucun élément sélectionné</h5>
                  <p class="card-text">Sélectionnez un élément pour voir ses définitions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/graph.js') }}"></script>
{% endblock %}
