
{% extends "base.html.twig" %}

{% block body %}

<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner text-center">
    <div id="nama" class="carousel-item active">
      <div class="d-flex justify-content-center align-items-center carousel-text-container">
        <h1>NAMA - Le projet</h1>
      </div>
    </div>
  </div>
</div>
<div class="page-content-container">
  <h4>Nommer les Arbres au Moyen Âge - Le projet</h4>
  <hr/>
  <p>
    Ceci est la page de présentation du projet NAMA
  </p>
  <p>
    <a href="{{path('nama-graph')}}"><i class="fas fa-link fa-fw"></i>Voir le graph</a>
  </p>
  <hr/>
  <div class="row">
    {% for key in trees|keys %}
    <div class="col-2">
      <div class="card mb-2">
        <div class="card-header">
          {{ key }}
        </div>
        <div class="card-body">
          <ul>
          {% for tree in trees[key] %}
            <li><a href="{{path('nama-graph')}}?id={{tree.id}}">{{tree.label|capitalize}}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/nama.js') }}"></script>
{% endblock %}
