{% extends "base.html.twig" %}

{% block body %}



  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
      <div id="home" class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center carousel-text-container">
          <h1>TLMA - Le projet</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content-container">

    <p>
      <h4>La Terre et les Lettres au Moyen Âge - Le projet</h4>
    </p>
    <div id="lipsum" style="text-align:justify;">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ligula massa. Nullam placerat egestas tellus eget pulvinar. Mauris venenatis auctor ante ut efficitur. Morbi vel est quis dolor rutrum ullamcorper consectetur dapibus massa. Nullam
        posuere, urna ut finibus gravida, nisl turpis pulvinar nisi, sed sollicitudin ex arcu ut tortor. Maecenas libero elit, interdum eget pharetra in, posuere volutpat erat. Fusce nisl diam, euismod at tempus vel, porta eget urna. Ut hendrerit bibendum
        velit, in bibendum lorem luctus in. Sed eu bibendum ex. In scelerisque sed augue vitae maximus. Nunc aliquet turpis quis lectus pulvinar, id varius erat laoreet. Morbi aliquam cursus tempus. Proin varius aliquam urna. Ut hendrerit lorem at tortor
        varius ultricies. Pellentesque commodo leo nec est malesuada vehicula. Sed non mauris et arcu suscipit dignissim suscipit in libero.
      </p>
      <p>
        Ut tempus orci ut quam ornare, tincidunt dignissim ex commodo. Ut tincidunt et massa sollicitudin auctor. Fusce ex elit, consequat sed mi a, mattis venenatis libero. Nam venenatis cursus nulla id tincidunt. Sed hendrerit consectetur ullamcorper. Nam
        consectetur sem ac risus sagittis rutrum nec elementum libero. Mauris gravida justo enim, nec consectetur dui vestibulum in. Etiam ut facilisis eros. Donec ac sapien dui. Nunc sed eleifend ipsum. Integer finibus nisl eu finibus accumsan. Ut iaculis
        massa quam, eget lobortis lectus hendrerit at. Vestibulum sit amet neque finibus, fringilla diam at, blandit erat. Ut ut ipsum ut neque venenatis venenatis.
      </p>
      <p>
        Quisque ac nulla vitae felis tempus dictum. Vivamus laoreet lorem id lectus venenatis, quis aliquam magna pharetra. Pellentesque ipsum sapien, consequat cursus leo ut, fringilla laoreet purus. Vestibulum quis vehicula velit, eu aliquet mi. Phasellus
        rutrum, sapien sit amet semper imperdiet, justo enim tempus dui, ac elementum ante tellus ut ex. Curabitur justo lacus, faucibus ut mi quis, tincidunt mollis lorem. Duis consectetur, augue vitae ornare sagittis, purus sem semper purus, sed finibus
        justo velit quis elit. Donec quis erat non velit semper sodales. Curabitur varius sollicitudin condimentum. Aenean sollicitudin bibendum velit a rhoncus. Aenean eget velit ac arcu tempus pretium. Mauris lacinia turpis id dolor tempor, vel ullamcorper
        sem ultrices. Suspendisse ac venenatis nunc. Aenean nec massa tristique massa porta laoreet eu eget ex. Curabitur tellus sapien, dictum id euismod vel, malesuada ut enim.
      </p>
      <p>
        Maecenas sollicitudin ultrices maximus. Phasellus id odio sodales dolor sagittis egestas quis in purus. Duis imperdiet nibh neque. Quisque sollicitudin risus sed varius pretium. Nam ut vehicula lacus. Proin luctus velit ut sapien mattis, eu lobortis
        enim tempus. Vivamus tincidunt augue id tellus rhoncus fermentum. In vitae luctus mauris. Etiam efficitur nunc congue, dictum nunc quis, porta sapien.
      </p>
      <p>
        Nulla a magna consequat, malesuada quam sed, fringilla sem. Vestibulum egestas accumsan gravida. Fusce pharetra eu nisl id iaculis. Aliquam erat volutpat. Praesent ac bibendum dolor. Nulla iaculis tincidunt ante, at iaculis diam rhoncus vel. Donec
        porttitor augue id metus euismod, porttitor pharetra ligula consequat. Sed urna purus, sodales non condimentum sit amet, sagittis vel sapien. Proin bibendum vel ante at bibendum. In eu dignissim augue, at finibus risus. Aenean porta enim non mi
        gravida imperdiet. Donec fermentum, dolor vitae commodo mollis, ex ipsum placerat felis, eu porta leo enim vitae sem. Donec vel eros non augue tempor dapibus.
      </p>
    </div>

  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
