{% extends "base.html.twig" %}

{% block body %}

  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner text-center">
      <div id="partners" class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center carousel-text-container">
          <h1>Nos partenaires</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content-container">
    <h4>La Terre et les Lettres au Moyen Âge - Nos partenaires</h4>
    <hr/>
    <div class="card partner">
      <div class="card-header">
        DFSM
      </div>
      <div class="card-body">
        <h5 class="card-title">Le Dictionnaire de Français Scientifique Médiéval.</h5>
        <p class="card-text">Le DFSM est un partenaire très important.</p>
        <p class="card-text">Toutes les définitions qui sont présentes sur le graph viennent de ce dictionnaire.</p>
        <a href="http://www.dfsmed.fr"><i class="fas fa-link fa-fw"></i>voir le site</a></a>
      </div>
    </div>
    <div class="card partner">
      <div class="card-header">
        DicAT
      </div>
      <div class="card-body">
        <h5 class="card-title">Qui est vraiment bien!</h5>
        <p class="card-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <p class="card-text">Toutes les définitions qui sont présentes sur le graph viennent de ce dictionnaire.</p>
        <a href="http://dicat.huma-num.fr"><i class="fas fa-link fa-fw"></i>voir le site</a></a>
      </div>
    </div>
  </div>
{% endblock %}
